.listings {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid__col2 {
  grid-column: span 2;
}


@media (width <= 500px) {
  .grid__col2 {
    box-sizing: border-box;
    grid-column: span 12;
    width: 300px;
    margin-bottom: 30px;
  }
}


