/* LEARN MORE SECTION */
.learnMore {
    background-color: #f5f5f5; 
    text-align: center;
    padding: 1.4rem 0;
    font-size: 18px;
    font-weight: 400;
  }



@media (width <= 500px) {
  .learnMore {
    font-size: 10px;
    width: 100%;
  }
}

@media (width > 500px) and (width <= 1000px) {
  .learnMore {
    font-size: 14px;
  }
}